.contenedor{

    background: grey;
    color: white;
    box-sizing: content-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin: auto;
}

.imagenCodo{

    display: inline-flex;
    width:10em;
    
}

.parrafoEncabezado{

    display: inline;
    font-size: large;
}



.linksIniciales{

    color: white;
    text-decoration: none;
    font-size: large;
    padding: 10px;
      
}



footer{

    background-color: rgb(3, 3, 33);
    padding: 15px;

}

.linksFinales{

    background-color: rgb(3, 3, 33);
    text-decoration: none;
    vertical-align: middle;
    color: white;
    
}
